<section class="about">
    <div class="container">
        <h3 class="title">Quo deleniti recusandae quasi reprehenderit
            assumenda excepturi</h3>
        <img class="about__img" src="images/coffee.svg" alt="image">
        <div class="about__text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum vel autem cumque culpa tempora possimus
                labore, maiores nulla odio quas illum? Vitae quo maiores exercitationem asperiores earum, hic impedit
                sequi suscipit iure porro sit dolore debitis illo mollitia iste vero veniam ex, quas esse quos placeat
                recusandae at aut. Amet esse cum laudantium. Laudantium saepe ipsum adipisci debitis placeat odit
                reprehenderit. Architecto provident amet ipsam eveniet blanditiis quo aliquam. Tenetur provident facere
                minus expedita aliquid ducimus consectetur veniam perspiciatis ipsam cupiditate.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum vel autem cumque culpa tempora possimus
                labore, maiores nulla odio quas illum? Vitae quo maiores exercitationem asperiores earum, hic impedit
                sequi suscipit iure porro sit dolore debitis illo mollitia iste vero veniam ex, quas esse quos placeat
                recusandae at aut. Amet esse cum laudantium. Laudantium saepe ipsum adipisci debitis placeat odit
                reprehenderit. Architecto provident amet ipsam eveniet blanditiis quo aliquam. Tenetur provident facere
                minus expedita aliquid ducimus consectetur veniam perspiciatis ipsam cupiditate. </p>
            <p>Sequi, velit vero repellat quos ex perspiciatis qui assumenda soluta aliquid, quis architecto temporibus
                nisi fuga delectus maiores reiciendis? Quo deleniti recusandae quasi reprehenderit assumenda excepturi,
                accusamus voluptatem tenetur cumque quidem commodi consectetur repudiandae placeat quod quae. Quisquam,
                facilis fugit eligendi odio est sunt eos beatae? Sit consequatur nemo quas exercitationem rem aperiam
                libero, ex Quisquamcum odit eveniet magni expedita, nesciunt adipisci inventore.
            </p>
            <p>Sunt dolores voluptate reprehenderit sed laborum minus obcaecati explicabo omnis cumque repellendus? Quam
                accusamus unde recusandae odio? Corrupti et blanditiis eos autem a nostrum suscipit excepturi amet quasi
                ad. Tenetur a tempore quae eaque deleniti beatae. Vero ea itaque officia atque aut eum minima excepturi
                est, provident eveniet commodi ullam dolore tempore incidunt alias. Quis.</p>
        </div>
    </div>
</section>