<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <nav class="footer__menu">
                <h6 class="footer__menu-title">Dolor sit amet</h6>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Lorem ipsum</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Consectetur</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Adipisicing elit</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Rerum vel</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Autem cumque</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__menu">
                <h6 class="footer__menu-title">Dolor sit amet</h6>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Lorem ipsum</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Consectetur</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Adipisicing elit</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Rerum vel</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Autem cumque</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__menu">
                <h6 class="footer__menu-title">Dolor sit amet</h6>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Lorem ipsum</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Consectetur</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#">Adipisicing elit</a>
                    </li>
                    <li class="footer__menu-soc">
                        <a class="footer__soc-link" href="#">
                            <img class="footer__soc-icon" src="images/in-facebook.svg" alt="image">
                        </a>
                        <a class="footer__soc-link" href="#">
                            <img class="footer__soc-icon" src="images/in-youtube.svg" alt="image">
                        </a>
                        <a class="footer__soc-link" href="#">
                            <img class="footer__soc-icon" src="images/in-whatsapp.svg" alt="image">
                        </a>
                        <a class="footer__soc-link" href="#">
                            <img class="footer__soc-icon" src="images/in-instagram.svg" alt="image">
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="footer__images">
                <img class="footer__img" src="images/image-footer-1.jpg" alt="image">
                <img class="footer__img" src="images/image-footer-2.jpg" alt="image">
                <img class="footer__img" src="images/image-footer-3.jpg" alt="image">
                <img class="footer__img" src="images/image-footer-4.jpg" alt="image">
            </div>
        </div>
    </div>
    <div class="footer__copy">
        <div class="container">
            <div class="footer__text"> &copy Lorem ipsum dolor sit amet consectetur, adipisicing elit</div>
        </div>
    </div>

</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>