<header class="header">
    <div class="container">
        <div class="header__top">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Tenetur</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Quisquam</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Sequi</a>
                    </li>
                </ul>
            </nav>
            <svg class="logo" width="42" height="40">
                <a class="logo__link" href="#">
                    <use xlink:href="#icon-logo">
                </a>
            </svg>
            <nav class="menu">
                <ul class="menu__list menu__list--last">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Corrupti</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Amet</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Laudantium</a>
                    </li>
                </ul>
            </nav>
            <div class="menu-btn">
                <img src="images/in-burger.svg" alt="icon">
            </div>
        </div>
    </div>
    <div class="header__slider">
        <div class="header__slider-items">
            <div class="header__slider-item" style="background-image: url(images/bg-slider-1.jpg);"></div>
            <div class="header__slider-item" style="background-image: url(images/bg-slider-2.jpg);"></div>
            <div class="header__slider-item" style="background-image: url(images/bg-slider-3.jpg);"></div>
            <div class="header__slider-item" style="background-image: url(images/bg-slider-4.jpg);"></div>
        </div>
    </div>


</header>