<section class="specialise">
    <div class="container">
        <h3 class="title">
            Quo deleniti recusandae quasi reprehenderit
            assumenda excepturi
        </h3>
        <div class="specialise__items">
            <div class="specialise__item">
                <h4 class="specialise__item-title">
                    Laudantium saepe ipsum adipisci
                    debitis placeat odit
                </h4>
                <div class="specialise__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum vel
                    autem cumque culpa tempora possimus labore, maiores nulla odio quas illum? Vitae quo maiores
                    exercitationem asperiores earum, hic impedit sequi suscipit iure porro sit dolore debitis illo
                    mollitia iste vero veniam ex, quas esse quos placeat recusandae at aut. Amet esse cum laudantium.
                    Laudantium saepe </div>
                <a class="specialise__item-link" href="#">читать дальше..</a>
            </div>
            <div class="specialise__item">
                <h4 class="specialise__item-title">
                    Laudantium saepe ipsum adipisci
                    debitis placeat odit
                </h4>
                <div class="specialise__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum vel
                    autem cumque culpa tempora possimus labore, maiores nulla odio quas illum? Vitae quo maiores
                    exercitationem asperiores earum, hic impedit sequi suscipit iure porro sit dolore debitis illo
                    mollitia iste vero veniam ex, quas esse quos placeat recusandae at aut. Amet esse cum laudantium.
                    Laudantium saepe </div>
                <a class="specialise__item-link" href="#">читать дальше..</a>
            </div>
            <div class="specialise__item">
                <h4 class="specialise__item-title">
                    Laudantium saepe ipsum adipisci
                    debitis placeat odit
                </h4>
                <div class="specialise__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum vel
                    autem cumque culpa tempora possimus labore, maiores nulla odio quas illum? Vitae quo maiores
                    exercitationem asperiores earum, hic impedit sequi suscipit iure porro sit dolore debitis illo
                    mollitia iste vero veniam ex, quas esse quos placeat recusandae at aut. Amet esse cum laudantium.
                    Laudantium saepe </div>
                <a class="specialise__item-link" href="#">читать дальше..</a>
            </div>
        </div>
    </div>

</section>