.menu {
	$self: &;
	padding: 10px 0;
	&:last-child {
		@media (max-width: 960px) {

		}
	}
	
	&__list {
		display: flex;
		@media (max-width: 960px) {
			display: none;
			position: absolute;
			top: 95px;
			right: 0;
			left: 0;
			width: 100%;
			text-align: center;
			z-index: 10;
			height: 290px;
			background-color: #F9F9F9;
			transition: background-color .5s;
		}
		@media (min-width:960px) {
			display: flex !important;
			
		}
	}
	
	
	&__list.menu__list--last {
		@media (max-width: 960px) {
			top: 245px;
		}
	}

	&__item + &__item {
		padding-left: 101px;
		@media (max-width:1100px) {
			padding-left: 61px;
		}
		@media (max-width:960px) {
			padding-left: 0;
		}

	}
	
	&__link {
		@media (max-width:960px) {
			display: block;
			padding: 10px 0;
			border-bottom: 2px solid #fff;
		}
	}
}